﻿@model AssignmentMVC.ViewModel.DetailsModel
@using AssignmentMVC.BusinessClass
@{
    ViewBag.Title = "Index | Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron admin-index">
    <div class="row">
        <div class="col-sm-3">
            @Html.ActionLink("Work Area", "Users", "Admin", null, new { @class = "btn btn-danger btn-block" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-8 col-sm-4 ">
            @Html.Image(Model.Image.ImageURL, Model.Image.Title, "150px")
            <a class="btn btn-success" data-toggle="modal" data-target="#EditModal" value="Edit">Edit</a>
        </div>
    </div>
    <diV class="row">
        <div class="col-sm-12">
            <h2>Profile</h2>
        </div>

    </diV>
    <div class="container">
        @Html.HiddenFor(m => m.UserId)
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-6 dashboard-label text-right">
                        @Html.DisplayNameFor(model => model.Firstname)
                    </div>
                    <div class="col-xs-6 dashboard-value text-left">
                        @Html.DisplayFor(model => model.Firstname)
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-6 dashboard-label text-right">
                        @Html.DisplayNameFor(model => model.Lastname)
                    </div>
                    <div class="col-xs-6 dashboard-value text-left">
                        @Html.DisplayFor(model => model.Lastname)
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-6 dashboard-label text-right">
                        @Html.DisplayNameFor(model => model.Address)
                    </div>
                    <div class="col-xs-6 dashboard-value text-left">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-6 dashboard-label text-right">
                        @Html.DisplayNameFor(model => model.Email)
                    </div>
                    <div class="col-xs-6 dashboard-value text-left text-wrap">
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var contact in Model.UserContact)
            {


                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-6 dashboard-label text-right">
                            @Html.DisplayFor(Model => contact.Contact.ContactType)
                        </div>
                        <div class="col-xs-6 dashboard-value text-left">
                            @Html.DisplayFor(Model => contact.ContactNumber)
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title h3 text-center" id="ModalTitle">Edit profile details</p>

            </div>
            @using (Html.BeginForm("Edit", "Edit", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "EditForm" }))
            {
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.HiddenFor(m => m.UserId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="EditUser">Save</button>
                </div>
            }
        </div>
    </div>
</div>