﻿@model IEnumerable<AssignmentMVC.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="admin-index">
    <div class="row">
        <div class="col-md-offset-9 col-sm-offset-7 col-sm-5 col-md-3">
            <label class="dashborad-profile">
                @Html.ActionLink("DashBoard", "Index", "Admin", null, new { @class = "btn btn-primary" })
            </label>
        </div>
    </div>

    <table class="table table-responsive table-hover">
        <caption class="h2 text-center text-danger">Users</caption>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr class="warning">
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#EditModal" onclick="editUserData(@item.UserId)">Edit</a>
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", "Admin", new { UserId = item.UserId }, new { onclick = "return confirm('Delete User')" })

                </td>
            </tr>
        }
    </table>
</div>


<!--Modal For Editing users-->

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="modal-title h3 text-center" id="ModalTitle">Edit profile details</p>

            </div>
            @using (Html.BeginForm("Edit", "Edit", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "EditForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body" id="LoadEditPartial">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="EditUser">Save</button>
                </div>
            }
        </div>
    </div>
</div>















