﻿@model AssignmentMVC.ViewModel.LoginModel

@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "LoginForm" }))
        {
           @Html.AntiForgeryToken()
            <h3>Login</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <p class="view-bag">@ViewBag.ErrorMessage</p>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4 text-right">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })<span class="error">*</span>
                    </div>
                    <div class="col-sm-8 input-group ">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Email." } })
                    </div>
                    <div class="col-sm-offset-5 col-xs">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-4 text-right">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })<span class="error">*</span>
                    </div>
                    <div class="col-sm-8 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter your password." })
                    </div>
                    <div class="col-md-offset-5 col-xs">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" style="margin-top:20px;" value="Login" class="btn btn-success" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-8">
                        <p class="direction">Don't have an Account @Html.ActionLink("Signup", "Register", "Registration") here.</p>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        }
    </div>
</div>



