﻿@model AssignmentMVC.ViewModel.RegistrationModel
@using AssignmentMVC.ViewModel
@using AssignmentMVC.BusinessClass
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-sm-1">
    </div>
    <div class="col-md-6 col-sm-10">

        @using (Html.BeginForm("Register", "Registration", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "RegistrationForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3>Register</h3>
                <hr />
                <p class="view-bag">@ViewBag.Message</p>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-3 text-right">
                            @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label" })<span class="error">*</span>
                        </div>

                        <div class="input-group  col-md-8 col-sm-9">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your firstname." } })

                        </div>
                        <div class="col-sm-offset-4 col-xs">
                            @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-3 text-right">
                            @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label" })<span class="error">*</span>
                        </div>

                        <div class="input-group col-md-8 col-sm-9">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your lastname." } })

                        </div>
                        <div class="col-sm-offset-4 col-xs">
                            @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-3 text-right">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })<span class="error">*</span>
                        </div>

                        <div class="input-group col-md-8 col-sm-9">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Email." } })


                        </div>
                        <div class="col-sm-offset-4  col-xs">
                            <span id="EmailNotAvailable" class="font-weight"></span>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-3 text-right">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })<span class="error">*</span>
                        </div>

                        <div class="input-group col-md-8 col-sm-9">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Enter your Address." })

                        </div>
                        <div class="col-sm-offset-4 col-xs">
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-3 text-right">
                        @Html.Label("Contacts", new { @class = "control-label" })

                    </div>
                    <div class="col-md-8 col-sm-9">
                        <button type="button" id="AddContact" class="btn btn-primary">AddMore</button>
                        <span id="InvalidContact" class="text-danger"></span>
                    </div>
                    <div class="col-sm-offset-4 col-xs">
                        <p class="view-bag">@ViewBag.Contact</p>
                    </div>
                </div>
                <div id="AppendItem">
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-3 col-md-4">
                        </div>
                        <div class="input-group col-sm-7 col-md-8">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            @Html.DropDownListFor(m => m.Contact, new SelectList(Enum.GetValues(typeof(Contact))), new { @class = "form-control" })
                            <input id="ContactNumber" name="ContactNumber[]" type="text" value="" placeholder="Contact number." class="form-control" />
                        </div>
                        <div class="col-sm-offset-4 col-xs">
                            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-3 text-right">
                            @Html.Label("Image", htmlAttributes: new { @class = "control-label" })<span class="image-size">(Max-500KB)</span>
                        </div>
                        <div class="col-md-8 col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                                @Html.FileFor("ImageURL", "ImageURL")

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-3 text-right">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })<span class="error">*</span>
                        </div>

                        <div class="input-group col-md-8 col-sm-9">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter your password." })

                        </div>
                        <div class="col-sm-offset-4 col-xs">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-3 text-right">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })<span class="error">*</span>
                        </div>

                        <div class="input-group col-md-8 col-sm-9">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Re-type your password." })

                        </div>
                        <div class="col-sm-offset-4 col-xs">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" value="Create" class="btn btn-success btn-block" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <p class="direction">Already have an Account @Html.ActionLink("Login", "Login", "Login") here.</p>

                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
        }
    </div>
</div>
